.gallery {
  padding: 140px 0 170px;

  &__holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 0;
    margin: -5px;
  }

  &__title {
    position: relative;
    font-size: 44px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 40px;

    &:before {
      background-color: $darkblue;
      content: "";
      position: absolute;
      top: 0;
      left: 46%;
      width: 100px;
      height: 1px;
    }
  }

  &__item {
    max-width: 50%;
    padding: 5px;

    img {
      &:hover {
        background-color: $white;
        opacity: 0.2;
      }
    }
  }

  &__item-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -5px;

    img {
      padding: 5px;
    }

  }
  &__button {
    display: flex;
    justify-content: center;
  }
}
