.news {
  min-height: 100vh;
  background-color: aqua;
  padding: 100px 0;

  &__slider-holder {
    position: relative;
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -15px;
  }

  &__item {
    width: calc(100% / 3);
    padding: 15px;
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    padding: 30px 0 20px 20px;

  }
}

.news .slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  position: absolute;
  bottom: 20%;
  transform: translate(-50%, 0);
  left: 50%;
  margin: 0;
  padding: 0;
}
.news .slick-dots li {
  margin: 0 8px;
}

.news .slick-dots li button {
  width: 10px;
  height: 10px;
  border: 1px solid $white;
  border-radius: 50%;
  font-size: 0;
  background: transparent;
}

.news .slick-dots .slick-active button {
  background: #fff;
}

.news .arrow {
  position: absolute;
  top: 50%;
  color: $white;
  font-size: 8px;
  border: 1px solid $white;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
}

.news .next-arrow {
  right: -100px;
}

.news .prev-arrow {
  left: -100px;
}