.projects {

  &__holder {
    display: flex;
    justify-content: space-between;
  }

  &__item {

    &_image {
      max-width: 63%;
      position: relative;
    }

    & img {
      z-index: 4;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 30px;
        left: 0;
        background-color: $lightblue;
        width: 630px;
        height: 478px;
        transform: translate(-40px, -40px);
        z-index: 2;
      }
    }
  }
}

