@font-face {
  font-family: 'gotham';
  src: url('../fonts/Gotham/gothamblack-webfont.eot');
  src: url('../fonts/Gotham/gothamblack-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham/gothamblack-webfont.woff2') format('woff2'),
  url('../fonts/Gotham/gothamblack-webfont.woff') format('woff'),
  url('../fonts/Gotham/gothamblack-webfont.ttf') format('truetype'),
  url('../fonts/Gotham/gothamblack-webfont.svg#gothamblack') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/Gotham/gothambold-webfont.eot');
  src: url('../fonts/Gotham/gothambold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham/gothambold-webfont.woff2') format('woff2'),
  url('../fonts/Gotham/gothambold-webfont.woff') format('woff'),
  url('../fonts/Gotham/gothambold-webfont.ttf') format('truetype'),
  url('../fonts/Gotham/gothambold-webfont.svg#gothambold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/Gotham/gothambolditalic-webfont.eot');
  src: url('../fonts/Gotham/gothambolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham/gothambolditalic-webfont.woff2') format('woff2'),
  url('../fonts/Gotham/gothambolditalic-webfont.woff') format('woff'),
  url('../fonts/Gotham/gothambolditalic-webfont.ttf') format('truetype'),
  url('../fonts/Gotham/gothambolditalic-webfont.svg#gothambold_italic') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/Gotham/gothambook-webfont.eot');
  src: url('../fonts/Gotham/gothambook-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham/gothambook-webfont.woff2') format('woff2'),
  url('../fonts/Gotham/gothambook-webfont.woff') format('woff'),
  url('../fonts/Gotham/gothambook-webfont.ttf') format('truetype'),
  url('../fonts/Gotham/gothambook-webfont.svg#gothambook') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/Gotham/gothambookitalic-webfont.eot');
  src: url('../fonts/Gotham/gothambookitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham/gothambookitalic-webfont.woff2') format('woff2'),
  url('../fonts/Gotham/gothambookitalic-webfont.woff') format('woff'),
  url('../fonts/Gotham/gothambookitalic-webfont.ttf') format('truetype'),
  url('../fonts/Gotham/gothambookitalic-webfont.svg#gothambook_italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/Gotham/gothamlight-webfont.eot');
  src: url('../fonts/Gotham/gothamlight-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham/gothamlight-webfont.woff2') format('woff2'),
  url('../fonts/Gotham/gothamlight-webfont.woff') format('woff'),
  url('../fonts/Gotham/gothamlight-webfont.ttf') format('truetype'),
  url('../fonts/Gotham/gothamlight-webfont.svg#gothamlight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/Gotham/gothamlightitalic-webfont.eot');
  src: url('../fonts/Gotham/gothamlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham/gothamlightitalic-webfont.woff2') format('woff2'),
  url('../fonts/Gotham/gothamlightitalic-webfont.woff') format('woff'),
  url('../fonts/Gotham/gothamlightitalic-webfont.ttf') format('truetype'),
  url('../fonts/Gotham/gothamlightitalic-webfont.svg#gothamlight_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/Gotham/gothammedium-webfont.eot');
  src: url('../fonts/Gotham/gothammedium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham/gothammedium-webfont.woff2') format('woff2'),
  url('../fonts/Gotham/gothammedium-webfont.woff') format('woff'),
  url('../fonts/Gotham/gothammedium-webfont.ttf') format('truetype'),
  url('../fonts/Gotham/gothammedium-webfont.svg#gothammedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/Gotham/gothammediumitalic-webfont.eot');
  src: url('../fonts/Gotham/gothammediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham/gothammediumitalic-webfont.woff2') format('woff2'),
  url('../fonts/Gotham/gothammediumitalic-webfont.woff') format('woff'),
  url('../fonts/Gotham/gothammediumitalic-webfont.ttf') format('truetype'),
  url('../fonts/Gotham/gothammediumitalic-webfont.svg#gothammedium') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/Gotham/gothamthin-webfont.eot');
  src: url('../fonts/Gotham/gothamthin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham/gothamthin-webfont.woff2') format('woff2'),
  url('../fonts/Gotham/gothamthin-webfont.woff') format('woff'),
  url('../fonts/Gotham/gothamthin-webfont.ttf') format('truetype'),
  url('../fonts/Gotham/gothamthin-webfont.svg#gothamthin') format('svg');
  font-weight: 100;
  font-style: normal;

}

@font-face {
  font-family: 'gotham';
  src: url('../fonts/Gotham/gothamthinitalic-webfont.eot');
  src: url('../fonts/Gotham/gothamthinitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gotham/gothamthinitalic-webfont.woff2') format('woff2'),
  url('../fonts/Gotham/gothamthinitalic-webfont.woff') format('woff'),
  url('../fonts/Gotham/gothamthinitalic-webfont.ttf') format('truetype'),
  url('../fonts/Gotham/gothamthinitalic-webfont.svg#gothamthinitalic') format('svg');
  font-weight: 100;
  font-style: italic;
}