@import "blocks/header";
@import "pages/main_page/gallery";
@import "pages/main_page/about";
@import "pages/main_page/projects";
@import "pages/main_page/news";
@import "pages/main_page/contact";
@import "blocks/footer";